@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(194, 2, 2, 0.892);
    --secondary-color: #FFFFFF;
    --tertiary-color: rgba(240, 248, 255, 0.945);
    --quaternary-color: rgb(226, 216, 19);
    --font-family-primary: 'Anton', sans-serif;
    --font-family-secondary: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family-secondary);
}

header {
    background-color: var(--primary-color);
    border-bottom: 15px solid var(--quaternary-color);
    text-align: center;
    padding: 1.5rem;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
    border-bottom: 0.5rem solid rgba(194, 2, 2, 0.892);
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.data {
    margin: 1rem;
    padding: 1rem;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    border-bottom: 0.3px solid;
    border-color: rgba(118, 91, 91, 0.192);
}

.weather {
    display: grid;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 3px;
    width: 100%;
    justify-items: center;
    justify-content: center;
}

.icon {
    display: grid;
    align-items: center;
    width: 10rem;
}

h3 {
    display: none;
}


footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1.5rem;
    color: white;

}




@media screen and (min-width: 37.5em) {
    
    .info {
        position: absolute;
        border-radius: 10px;
        padding: 1rem;
        width: auto;
        height: auto;
        top: 40%;
    }
    
    .data {
        background-color: var(--tertiary-color);
        flex: 1 1 30%;
        margin: 1rem;
        padding: 1rem;
        border-radius: 3px;
        transform: translateY(-50%);
    }


    .weather {
        background-color: var(--tertiary-color);
        flex: 1 1 30%;
        margin: 1rem;
        padding: 1rem;
        border-radius: 3px;
        transform: translateX(420%);
    }

    h3 {
        background-color: var(--quaternary-color);
        padding: 0.5rem;
        padding-left: 1.5rem;
        transform: translateX(-10%);
        margin-bottom: 1rem;
        display: flex;
    }

    h2 {
        display: none;
    }
    


    .hero img {
        width: 100%;
        height: auto;
    }
    .weather img.mobile-weather-icon {
        display: none;
    }
}
